<% provide(:title, 'Sign up') %>
<div class="container px-5">
  <h1>Sign up</h1>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  <% end %>
</div>
